@import "tailwindcss";

* {
  /* ya scroll * */
  scrollbar-width: none; /*  Firefox */
  -ms-overflow-style: none; /* IE Older Versions */
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  display: none; /*  Chrome Safari Opera */
}
